<mat-card>
    <mat-card-title> Alugar Livro</mat-card-title>
        <form>
            
            <mat-form-field>
                <input matInput placeholder="Seu nome"  
                    [(ngModel)]="alugados.nomeCliente"
                    name="nomeCliente" 
                    required
                    >
            </mat-form-field>
           
            <mat-form-field>
                <input matInput placeholder="Nome"  
                [(ngModel)]="alugados.nomeLivro"
                
                name="nomeLivro" 
                disabled
                required    >
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Preço(R$)"  
                [(ngModel)]="alugados.valorLivro"
                name="valorLivro" 
                disabled
                required    >
            </mat-form-field>  
        </form>
<button mat-raised-button (click)="AlugarLivro()">
   Confirmar
</button>
<button mat-raised-button (click)="cancel()">
    Cancelar
</button>