form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}
button{
    margin-right: 15px;
}
mat-card{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

}

